body{background-color: darkblue;
     }
p{   
  margin-left: 25%;
  
  margin-top: 10%;
}

img{border: 1px dotted turquoise;
    border-radius: 1.5em;
    block-size: 12em;
    padding: 1.1em;
    margin: 1.2em;
    
}