@import url("https://fonts.googleapis.com/css?family=Delicious+Handrawn");

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    font-size: small;
}
h1,h2{
    font-family: "Delicious Handrawn",sans-serif;
    color: #cc6600;
    border-bottom: thin dotted #cc6600;
}

h1{ font-size: 250%;}

h2{    font-size: 175%; font-weight: normal;}
blockquote{font-style: italic;}